
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: "Afacad flux", sans-serif;
    color: #000000;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
    gap: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 150px;
    background-color: #D8B89F;
    font-family: Allura, sans-serif;
    color: #FFFFFF;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
    background-color: #D8B89F;
    color: #FFFFFF;
}

.hero-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 100px;
    margin: 0;
    padding: 0;
    font-family: Allura, sans-serif;
    color: #FFFFFF;
    font-size: 40px;
}

nav a:link,
nav a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

nav a:hover,
nav a:focus {
    cursor: pointer;
}

main {
    grid-area: main;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0e0d3;
    font-size: 20px;
    min-height: 900px;
}

footer {
    grid-area: footer;
    text-align: center;
    overflow: auto;
    margin: 0;
    padding: 0;
    background-color: #D8B89F;
    font-family: Allura, sans-serif;
    color: #FFFFFF;
    font-size: 40px;
    min-height: 150px;
}
